/* === GENERAL STYLING === */

body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  background-color: #D28F34;
  padding: 0 1rem;
}

main {
  margin: 8rem 0;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* === GOAL TREE STYLING === */

.goalBranch {
  border: 1px solid #ddd;
  margin: 1rem 0;
  text-align: center;
}
